<!doctype html>
<html>
	
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='neilsGreatContent.css') }}">
		<title>Oops!</title>
		
	</head>
	
	<body>
	
		<header class="pageHeader">
		
			<h1>Oops, you've lost us {{ user }}</h1>
			
		</header>
	
		<!-- Putting header page content in a nice container -->
		<div class = "mainContent" id="oopsContainer">
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			
	
			<h2 class = "homeLink"><a  href = "/linkspace">Go back to the links page.</a></h2>
			
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			
		</div>
		
		<br>
		
		<footer class="pageFooter">
		{% if loggedIn == true %}
			
				<a href="/logout">Click here to logout as {{ user }}</a>
			
		{% else %}
			
				
				<a href = "/login">Click here to login.</a>
			
			
		{% endif %}
		
		</footer>
		
	</body>
</html>